@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
/* font-family: 'Prata', serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Prata&display=swap');
/* font-family: 'Nunito', sans-serif;
font-family: 'Prata', serif; */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
::selection {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
  }

.brown{
    color: #DFB77A;
}
.white{
    color: #FFFCF8;
}
.btn{
    padding:15px 25px;
    border-radius: 40px;
    font-family: 'Nunito', sans-serif;
    background: #1f1d27;
    font-size: 16px;
    border:1px solid grey;
    cursor: pointer;
}
.btn:hover{
    background-color:#FFFCF8;
    color: #000000;
}
.btn1{
    position: absolute;
    padding:15px 25px;
    border-radius: 40px;
    font-family: 'Nunito', sans-serif;
    background-color:#af8e5d;
    font-size: 16px;
    border:1px solid rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.226);
    left: 1050px;
    top:150px;
}
.btn1:hover{
    background-color:#FFFCF8;
    color: #000000;
}


/* ______________________________________ */
.arrow {
    border: solid #FFFCF8;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.c {
    position:absolute;
    top:640px;
    left: 147px;;
    width: 450px;
    height: 450px;
    border-width: 2px;
    border-style: dashed;
    border-radius: 600px;
    color:#ffffff2a;
}

.c1{
    position:absolute;
    top:151px;
    left: 857px;;
    width: 300px;
    height: 300px;
    border-width: 2px;
    border-style: dashed;
    border-radius: 600px;
    color:#ffffffa2;
}
.c2{
    position:absolute;
    top:-150px;
    left: 1007px;;
    width: 300px;
    height: 300px;
    border-width: 2px;
    border-style: dashed;
    border-radius: 600px;
    color:#ffffffa2;

}
.c4{
    position:absolute;
    top:1000px;
    left: 10px;
    width: 380px;
    height: 380px;
    border-width: 2px;
    border-style: dashed;
    border-radius: 600px;
    color:#000000a2;
}
  /* ____________________________________________________________- */


.head{
    background-color:#DFB77A;
    position: relative;
}
.navbar{
    padding: 0.5rem 1rem;
}

.logo{
    float: left;
    margin-top: 1rem;
}
.pages{
    float:right;
    margin-top: 1rem;
}
.itmes{
    display:inline-block;
    list-style: none;
    margin-bottom: 0.5em;
    padding: 1rem 2rem;
    text-transform: capitalize;
    font-family: 'Prata', serif; 
}
.nav-links{
    color:#FFFCF8;
    text-decoration: none;
    font-size: 20px;
}
.nav-links:hover{
    color:#000000;
}
.navbar::after{
    content: "";
    display: block;
    clear: both;
}
.dropdown{
    position:relative;
}
.drop{
    list-style-type:none;
    background-color:#131218;
    padding:10px;
    position:absolute;
    display:none;
    text-align: left;
}
.navbar .pages .dropdown .drop:hover{
    color:#000000;
    background-color:#FFFCF8;
}
.drop li{
    width: 200px;
}
.dropdown:hover .drop{
    display: block;
}
.first{
    height: 120vh;
    background-image: url(./img/banner.jpg);
    margin:20px;
}
.discover{
    text-align: center;
    text-transform: capitalize;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#FFFCF8;
    font-size:100px;
    font-weight:300;
}

.widget{
    width:50%;
    background-color:#131218;
    padding:12px;
    position:absolute;
    top:91%;
    left:-2%
}
.social-links{
    color:#DFB77A;
    text-decoration: none;
    font-size: 20px;
}
.social-links:hover{
    color:#FFFCF8;
}
.appoinment{
    height: 1200px;
    background-color: #131218;
    margin-top:-20px;
    position: relative;
}

.life{
    position:absolute;
    font-size:45px;
    font-weight:400;
    width: 916px;
    top: 180px;
    left:104px;
}

.man{
    position:absolute;
    top:590px;
    left:104px;
}
.content{
    width: 480px;
    position:absolute;
    top: 723px;
    left:762px;
}
.all , .para1, .para2{
    padding-bottom: 30px;
}
.all{
    font-size: 30px;
    font-weight: 200px;
}
.para1, .para2{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color:#A0A0A0;
    line-height:25px;

}
.para2{
    padding-bottom: 70px;
}



.stock{
    height:912px;
    background-color:#FFF5E5;
    position:relative;
}
.stock-left{
    position:absolute;
    width: 365px;
    top: 165px;
    left: 104px;

}

.stock-head{
    font-size: 36px;
    color:#000000;
    padding-bottom: 20px;

}
.stock-para{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color:#808080;
    padding-bottom: 30px;
    line-height:25px;

}
.review{
    display: inline-block;
    padding: 0 4px 0 0;
    color:#808080;

}

.stock-center{
    position:absolute;
    top:160px;
    left:501px;
}











.stock-right{
    position: absolute;
    top: 340px;
    left: 870px;
    width: 356px;
}
.details{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color:#000000;
    /* text-decoration: none; */
    padding:3px;
    /* border-bottom:2px solid #000000; */

}
.details:hover{
    color:#FFD89C;
}



.catagories{
    height:895px;
    background-color:#DFB77A;
    position:relative;
}
.popular{
    height: 448px;
    width:515px;
    background-color:#131218;
    position:relative;
}
.popular-content{
    position:absolute;
    width: 337px;
    top:103px;
    left:102px;
}
.catagory-head{
    font-size: 50px;
    color:#ECBD75;
    padding-bottom: 20px;
}
.catagory-para{
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    color:#a7a3a3;
    padding-bottom: 30px;
    line-height:25px;

}


.suits{
    position: relative;
}
.d1, .d2, .d3{
    position: absolute;
    width:265px;
}

.d1{
    top: 225px; 
    left:446px;
}
.d2{
    top: 289px; 
    left:765px;
}
.d3{
    top: 353px; 
    left:1080px;
}




.customers{
    height:690px;
    background-color:#131218;
    position:relative;
}
.customer-head{
    position:absolute;
    top: 130px;
    left: 342px;
}

.designs{
    display: flex;
    justify-content:space-evenly;

}
.design-head{
    color:#DFB77A;
    font-weight: 900;
    font-size: 100px;
    margin-bottom: 20px;
}
 .design{
     width:530px;
     margin-top:200px;
 }
 .design-para{
    font-size: 20px;
    line-height: 25px;
    color:#a7a3a3;

 }


.satisfied{
    height: 310px;
    background-color:#DFB77A;
    position: relative;
}
.satisfied-head{
    position:absolute;
    top: 107px;
    left:105px;
    width: 700px;
    font-size: 40px;
    color:#000000;
}

.guide{
    position:relative;
    height:1500px;
    background-color:#FFF5E5;
}
.guide-main{
    position:absolute;
    top: 175px;
    left: 460px;
    text-align: center;
   
}
.guide-head{
    font-size: 40px;
    color:#000000;
    margin-bottom: 20px;
}
.guide-para{
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    color:#a7a3a3;
    padding-bottom: 30px;
    line-height:25px;
}
.blog{
    width:365px;
    margin:20px;
}

.blogs{
    position:absolute;
    /* width:1040px; */
    top:315px;
    left:60px;
    display:flex;
    justify-content:space-evenly;
}
.blog-head , .blog-head a{
    font-size: 22px;
    color:#000000;
    text-decoration: none;
    margin-bottom: 10px;
    /* border-bottom:2px solid #000000; */
}

.blog-para{
    font-family: 'Nunito', sans-serif;
    color:#444343;
    line-height:25px;
}
.blog a:hover{
    color: #b091657c;
}
.blog a img:hover{
    opacity: 0.6;
}



.update{
    background-color: #DFB77A;
    height:415px;
    width:1140px;
    position: absolute;
    top:876px;
    left:105px;
    border-radius: 20px;
    text-align: center;
}
.update-content{
    position: relative;
}
.second-con{
    position: absolute;
    top:104px;
    left: 287px;
    text-align:center;
}
.update-head{
    font-size: 40px;
    color:#000000;
    margin-bottom: 20px
}
.update-para{
    font-size:20px;
    font-family: 'Nunito', sans-serif;
    color:#646669;
    margin-bottom: 20px;
}

#email{
    height: 70px;
    border-radius: 50px;
    outline: none;
    border:1px solid #ffffffa2;
    padding:0 20px;
    font-size:17px;
    position:absolute;
    top: 1110px;
    left:310px;
}

.subscibe{
    position:absolute;
    top: 1118px;
    left: 830px;
    padding:15px 50px;
    border-radius: 40px;
    font-family: 'Nunito', sans-serif;
    background-color:#000000;
    color:#FFF5E5;
    font-size: 16px;
    border:1px solid rgb(255, 255, 255);
    cursor: pointer;
    /* box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.226); */
}
.subscibe:hover{
    color:#000000;
    background-color:#DFB77A;
}


.footer-content{
    color:#a7a3a3;
    display:flex;
    justify-content:space-evenly;
/*     
    width:1200px; */
    /* text-align: center; */
}
.footer1{
    height: 410px;
    background-color:#131218;
}
.footer-head{
    color:#FFF5E5;
    margin-bottom: 20px;
}
.footer-para{
    font-size: 17px;
    margin-bottom:20px;
    line-height: 25px;
}
.part{
    width:255px;
    margin-top:100px;
}
.part i{
    color:#d3d3d3;
    padding-right:15px;
    font-size:20px;
}
.part a{
    text-decoration: none;
    font-size: 17px;
    display: block;
    color:#a7a3a3;
    margin:15px 0;
}
.part a:hover , .part i:hover{
    cursor: pointer;
    color:#af8e5d;
}

.footer2{
    font-family: 'Nunito', sans-serif;
    background-color:#1B1A23;
    height:71px;
    color:#777676;
    font-size:20px;
}
.f-para{
    
    text-align:center;
    padding-top:15px;
}


